@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: #151d3b;
  --white-color: #ffff;
  --pink-color: #ffbde6;
  --blue-color: #0e3eda;
  --red-color: #d82148;
  --accent-red: #151d3b;
}

.login-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
}

.login-card {
  transform: translateY(-50px) translateX(-10px);
  position: absolute;
  width: 50%;
  height: 600px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
  background: var(--white-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.login-header {
  width: 100%;
  height: 5%;
  background: var(--red-color);
  border-radius: 10px 10px 0px 0px;
}

.login-card-body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-card {
  transform: translateY(-50px) translateX(500px);
  position: absolute;
  width: 50%;
  height: 600px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
  background: blue;
  border-radius: 10px;
}

.card-bg {
  position: relative;
  width: 800px;
  height: 500px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: var(--white-color);
}

.active {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.card-content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-info {
}

.signup-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.appear-left {
  animation: appear-left 1.2s ease-in both;
}

.appear-right {
  animation: appear-right 1.2s ease-in both;
}

.fade {
  animation: fade 1.2s ease-in-out both;
}
.appear-delayed {
  animation: fade 1.2s ease-in-out both;
}

.disappear {
  animation: disappear 0.5s ease-in-out both;
}

.translate-right {
  animation: translate-right 1.2s ease-in-out both;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
  flex-direction: column;
}

.change-bg-red {
  animation: change-bg-to-red 1.2s ease both;
}

.change-bg-accent-red {
  animation: change-bg-to-accent-red 1.2s ease both;
}

.change-bg-blue {
  animation: change-bg-to-blue 1.2s ease both;
}

.change-bg-accent-blue {
  animation: change-bg-to-accent-blue 1.2s ease both;
}

.to-blue {
  background: var(--primary-color);
  transition: all 1.2s ease;
}

.sidenav-content {
  background: var(--primary-color);
}

.sidenav-item {
  background: var(--white-color);
  border-radius: 10px;
}

.sidenav-item:hover {
  transform: translateX(10px);
  background: var(--red-color);
  color: white;
  border-radius: 10px;
  transition: all 0.6s ease-out;
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes appear-left {
  from {
    margin-left: 500px;
  }
  to {
    margin-left: 0px;
  }
}

@keyframes translate-right {
  from {
    margin-right: 0px;
  }
  to {
    margin-left: 500px;
  }
}

@keyframes appear-right {
  from {
    margin-right: 300px;
    transform: translateY(-50px) translateX(-800px);
  }
  to {
    transform: translateY(-50px) translateX(500px);
  }
}

@keyframes change-bg-to-red {
  from {
    background: var(--primary-color);
  }
  to {
    background: var(--red-color);
  }
}

@keyframes change-bg-to-accent-red {
  from {
    background: var(--blue-color);
  }
  to {
    background: var(--accent-red);
  }
}

@keyframes change-bg-to-blue {
  from {
    background: var(--red-color);
  }
  to {
    background: var(--primary-color);
  }
}

@keyframes change-bg-to-accent-blue {
  from {
    background: var(--red-accent);
  }
  to {
    background: var(--blue-color);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
