<div class="login-wrapper login-bg fade" ng-controller="authController">
  <div class="card-bg">
    <div id="login-card" class="login-card appear-left">
      <div class="login-header"></div>

      <div class="login-card-body">
        <md-content
          id="signing-content"
          style="background: white"
          layout-padding
          class="display-none"
        >
          <div class="mat-typography">
            <h3>Sign In Into Your Account</h3>
          </div>

          <md-input-container class="md-block">
            <label>Email:</label>
            <input type="email" ng-model="user.email" />
          </md-input-container>

          <md-input-container class="md-block">
            <label>Password:</label>
            <input type="password" ng-model="user.password" />
          </md-input-container>

          <md-button style="color: white" class="md-raised md-primary"
            >Sign In</md-button
          >
        </md-content>

        <md-content
          id="signup-content"
          class="fade"
          style="background: white"
          layout-padding
        >
          <div class="mat-typography">
            <h3>Fill this form to create an account</h3>
          </div>

          <md-input-container class="md-block">
            <label>Full Name:</label>
            <input ng-model="user.user_name" />
          </md-input-container>

          <md-input-container class="md-block">
            <label>Email:</label>
            <input type="email" ng-model="user.email" />
          </md-input-container>

          <md-input-container class="md-block">
            <label>Phone Number:</label>
            <input ng-model="user.phone_number" />
          </md-input-container>

          <md-input-container class="md-block">
            <label>Password:</label>
            <input type="password" ng-model="user.password" />
          </md-input-container>
        </md-content>
      </div>
    </div>

    <div class="card-content">
      <div id="login-info" class="login-info info-wrapper disappear invisible">
        <h3>Don't Have An Account Yet? Sign Up Today!</h3>
        <md-button ng-click="slideSignup(true);" class="md-raised" color="blue"
          >Sign Up</md-button
        >
      </div>

      <div id="signup-info" class="signup-info info-wrapper appear-delayed">
        <div class="md-typography">
          <h3>Have An Account? Sign In!</h3>
        </div>
        <md-button ng-click="slideSignup(false);" class="md-raised" color="blue"
          >Sign In</md-button
        >
      </div>
    </div>
  </div>
</div>
